.LoginBox{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 5%;
    height: 200px;
    width: 200px;
    justify-content: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    background-color: rgba(245, 245, 255, .75);
    justify-content: space-around;
}

.UsernameInput{
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: 700;
}

.PasswordInput{
    font-size: large;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.LoginButton{
    background-color: #55c2da;
    color: black;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: large;
    transition: border 1s ease;
    border: white 1px solid;
    border-radius: 4px;
}

.LoginButton:hover{
    border: black 1px solid;
}