@font-face {
  font-family: "Industrial-MikeLakies";
  src: url('./Assets/fonts/Durbank-EamEz.ttf');
} 

html, body, #root, .App {
  margin: 0;
  font-family: 'Industrial-MikeLakies';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
